<h2>Edit Profile</h2>

	<%= form_for(@profile) do |f| %>
		<div class="field">
			<p><%= f.label :first_name, "First name", :class => "field label" %><br/>
			<%= f.text_field :first_name %></p>
		</div>
		<div class="field">
			<p><%= f.label :last_name, "Last name", :class => "field label" %><br/>
			<%= f.text_field :last_name %></p>
		</div>
		<div class = "actions">
			<p><%= f.submit "Update" %></p>
		</div>
	<% end %>