<h2>Users</h2>

<table>
	<tr>
		<td>Username</td>
		<td>Email Name</td>
		<td>Account</td>
	</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.user_name, user %></td>
			<td><%= link_to user.email, user %></td>
			<td><%= link_to user.account.name, user %></td>
			<td><%= link_to "Edit", edit_user_path(user) %></td>
			<td><%= link_to "Delete", user, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{user.username}" %></td>
		</tr>
	<% end %>
	<%= form_for(@user) do |f| %>
		<tr>
			<td><%= f.text_field :user_name %></td>
			<td><%= f.text_field :email %></td>
			<td><%= collection_select(:user, :account_id, Account.all, :id, :name, :prompt => true) %><br /></td>
			<td><%= f.submit "Submit" %></td>
			<td></td>
		</tr>
	<% end %>
</table>
