<h5>Import File</h5>


  <%= form_for :dump, :url => {:controller => 'imports', :action => 'create'} do |f| %>
    <p> Select a CSV File :</p>
    <p><%= f.file_field :file %></p>
    <p>Import into <%= select @import, :model, Import::MODELS.sort %></p> 
    <%= submit_tag 'Continue', :name => 'import_file' %>
    <%= submit_tag 'Cancel', :name => 'import_file' %>
  <% end %>
  
  