<h2>Partners</h2>

<table>
	<tr>
		<th>Partner</th>
		<th>Type</th>
	</tr>
	<% for partnership in @account.partnerships %>
		<tr>
			<td><%= partnership.partner.name %></td>
			<td><%= partnership.partner_type %></td>
			<td>
				<% if can? :update, partnership %>
					<%= link_to "Edit", edit_partnership_path(partner) %>
				<% end %>	
			</td>	
			<td>
				<% if can? :destroy, partnership %>
					<%= link_to "Delete", partnership.partner.name, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete" %>
				<% end %>
																			
			</td>
		</tr>
	<% end %>
	<%= form_for(@partnership) do |f| %>
		<tr>
			
			<td><%=collection_select(:partnership, :partner_id, Account.find(:all), :id, :name, :prompt => true) %></td>
			<td><%=collection_select(:partnership, :partner_type, Account::SERVICE, :to_s, :titleize) %></td>
			
			<td><%= f.submit "Submit" %></td>
			<td></td>
		</tr>
	<% end %>
	
</table>
