<h2>Partnerships</h2>

<table>
	<tr>
		<th>Provider</th>
		<th>Customer</th>
	</tr>
	<% @partnerships.each do |partnership| %>
		<tr>
			<td><%= link_to partnership.provider.name, partnership %></td>
			<td><%= link_to partnership.customer.name, partnership %></td>
			<td>
				<% if can? :update, @partnership %>
					<%= link_to "Edit", edit_partnership_path(partnership) %>
				<% end %>	
			</td>
				
			<td>
				<% if can? :destroy, @partnership %>
					<%= link_to "Delete", partnership, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete" %>
				<% end %>
																			
			</td>
		</tr>
	<% end %>
	<%= form_for(@partnership) do |f| %>
		<tr>
			<td><%= collection_select(:partnership, :provider_id, Account.all, :id, :name, :prompt => true) %><br />
			<td><%= collection_select(:partnership, :customer_id, Account.all, :id, :name, :prompt => true) %><br /></td>
			<td><%= f.submit "Submit" %></td>
			<td></td>
		</tr>
	<% end %>
</table>
