<p id="notice"><%= notice %></p>

<p>
  <b>Domain:</b>
  <%= @domain.domain %>
</p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>Class:</b>
  <%= @domain.class_id %>
</p>


<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
