<h4>Table: <%= @map.model_name %></h4>
<br></br>

<%= form_for @map do |map_form| %>

  <table>
    <tr>
      <th>Target Column</th>
      <th>Import Column</th>
    </tr>
    
      <%= map_form.fields_for :import_map_columns do |columns_form| %>
        <tr>
          <td><%= columns_form.text_field :table_column %></td>
          <td><%= columns_form.collection_select :import_column, @import_columns, :to_s, :titleize, :prompt => '--Select--' %></td>
        </tr>
      <% end %>
    
    
  </table>
<br></br>
<%= submit_tag "Import", :name => 'update' %>
<%= submit_tag "Cancel", :name => 'update' %>
<% end %>

