<h4>Table: <%= @map.model_name %></h4>
<br></br>

<%= form_for @map do |map_form| %>

  <table>
    <tr>
      <th>Target Column</th>
      <th>Import Column</th>
    </tr>
    <% for import_map_column in @map.import_map_columns %>
      <%= fields_for "import_map[import_map_columns_attributes][]", import_map_column do |columns_form| %>
        <tr>
          <td><%= columns_form.text_field :table_column %></td>
          <td><%= columns_form.text_field :import_column %></td>
        </tr>
      <% end %>
    <% end %>
    
  </table>

<%= submit_tag "Import", :name => 'update' %>
<%= submit_tag "Cancel", :name => 'update' %>
<% end %>

