  <h5>Import File</h5>

  <%= form_for :dump, :url=>{:controller=>"import_map_columns", :action=>"index"}, :html => { :multipart => true } do |f| %>
    <%= hidden_field_tag "import_map_id", @map.id %>
    <p> Select a CSV File :</p>
    <%= f.file_field :file %>
    <%= check_box_tag 'header' %>
    <%= submit_tag 'Continue', :name => 'import_file' %>
    <%= submit_tag 'Cancel', :name => 'import_file' %>
  <% end %>