<h4>Import Map Columns for <%= @map.model_name %> </h4>



<% if !@import_columns %>

  <%= render "import_file_selection" %>

<% else %>

  <%= form_tag complete_import_map_import_map_columns_path(@map) do %>
    <table>
      <% @map_columns.each do |c| %>
        <% fields_for :import_columns do |ff| %>
          <tr>       
              <td><%= ff.table_column.humanize %></td>        
                 
              <td><%= ff.collection_select :import_column_id, @import_columns, to_s, to_s, {}, :index => c %></td>     
          </tr>
        <% end %> 
      <% end %>
    </table>
    <br/>

    <%= submit_tag 'Import', :name => 'import_file' %>
    <%= submit_tag 'Cancel', :name => 'import_file' %>

  <% end %>
<% end %>