<h4>Import Map Columns for <%= @map.model_name %> </h4>

<h5>Target Columns</h5>

<table>
  <tr>
    <% @map_columns.each do |c| %>
      <td><%= c.table_column.humanize %></td>
    <% end %>
  </tr>
  <% if @import_columns %>
    <tr>
      <% @map_columns.each do |c| %>
          <td><%= select c, :import_column, @import_columns, { :prompt => '-Select-' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h5>Import File</h5>

<%= form_for :dump, :url=>{:controller=>"import_map_columns", :action=>"index"}, :html => { :multipart => true } do |f| %>
  <%= hidden_field_tag "import_map_id", @map.id %>
  <p> Select a CSV File :</p>
  <%= f.file_field :file %>
  <%= check_box_tag 'header' %>
  <%= submit_tag 'Continue', :name => 'open' %>
  <%= submit_tag 'Cancel', :name => 'cancel' %>
<% end %>