<h4>Import Map Columns for <%= @map.model_name %> </h4>

<h5>Target Columns</h5>

<table>
  <tr>
    <% @target_columns.each do |c| %>
      <td><%= c.name.humanize %></td>
    <% end %>
  </tr>
  <tr>
    <% @target_columns.each do |c| %>
      
    <% end %>
  </tr>
</table>



<h5>Import File</h5>

<%= form_for :dump, :url=>{:controller=>"import_map_columns", :action=>"index"}, :html => { :multipart => true } do |f| %>
  <%= check_box_tag "headers" %>
  <%= hidden_field_tag "import_map_id", @map.id %>
  
  <p> Select a CSV File :</p>
  <%= f.file_field :file %>
  <%= submit_tag :name => 'open', 'Continue' %>

<% end %>