<h2>Activities</h2>

<%= render 'shared/error_messages' %>

<ul>
	<% @activities.each do |activity| %>
		<li>
			<%= link_to activity.name, activity %>
			<%= link_to "Edit", edit_activity_path(activity) %>
			<%= link_to "Delete", activity, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{activity.name}" %>
		</li>
	<% end %>
</ul>

<%= render 'new' %>