<h3><%= @title %></h3>

<%= form_for(@activity) do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>