
  
  <td><%= p.seller.name %></td>
  <td><%= d != nil ? d.customer.name : nil %></td>
  <td><%= p.code != nil ? p.code : nil %></td>
  <td><%= p.start_date != nil ? p.start_date.to_s(:just_date) : nil%></td>
  <td><%= p.end_date != nil ? p.end_date.to_s(:just_date) : nil%></td>
  <td><%= d != nil ? d.id : nil %></td>
  <td><%= dp != nil ? dp.product.code : nil %></td>
  <td><%= da != nil ? da.activity.name : nil %></td>
  