

    <%= form_for(@plan) do |f| %>
      <div class="field">
        <td><%= f.text_field :code, :class => "text_field" %></td> 
        <td><%= f.text_field :name, :class => "text_field" %></td> 
        <td><%= f.text_field :descr, :class => "text_field" %></td>
        <% if @service_needed == "supplier" %>
            <td><%= f.collection_select(:supplier_id, @suppliers, :id, :name, :prompt => "--select one--") %></td>
        <% else %>
            <td><%= f.collection_select(:seller_id, @sellers, :id, :name, :prompt => "--select one--") %></td>
        <% end %>
        <td><%= f.text_field :start_date, :class => "date_field" %></td>
        <td><%= f.text_field :end_date, :class => "date_field" %></td>
        <th>Plan</th>
        <td><%= f.number_field :budget_expense, :step => 0.01, :class => "number_field" %></td>
      </div>
      <%= hidden_field_tag "budget_id", budget_id %>
      <div class="actions">
        <td>
          <%= f.submit "Submit" %>
        </td>
      </div>
      <td></td>
      <td></td>
      
    <% end %>

