<h2><%=  @title %></h2>
<h4>Plan: <%= @plan.code %></h4>

<table>
  <tr class="row-header">
    <th>Rep</th>
    <th>Customer</th>
    <th>Program</th>
    <th>Program Start</th>
    <th>Program End</th>
    <th>Deal</th>
    <th>Product</th>
    <th>Activity</th>
  </tr>
  
  <% @prev.clear %>
  <% @dataset.each_with_index do |record, i| %>
  <tr> 
    <% format_cell(record[:rep],1,"category", "grayed-out",i) %>
    <% if @tr %>
      <td colspan="100%"></td></tr><tr>
    <% end %>
    <%= link_to @td[1].to_s.html_safe %>
    <% format_cell(record[:customer],2, "light-category", "grayed-out",i) %>
    <%= @td[2].to_s.html_safe %>
    <% format_cell(record[:program],3, "light-category", "grayed-out",i) %>
    <%= @td[3].to_s.html_safe %>
    <td><%= link_to record[:program_start] %></td>
    <td><%= record[:program_end] %></td>
    <td><%= record[:deal] %></td>
    <td><%= record[:product] %></td>
    <td><%= record[:activity] %></td>   
  </tr>
  <% end %>
   
</table>