<p class="trail"><%= @account.name %> Plans</p>

  <table id="plans-index" class="dataTable">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th><%= current_account.service == 'supplier' ? 'Seller' : 'Supplier' %></th>
        <th>Start</th>
        <th>End</th>
        <th>Level</th>
        <th>Expense</th>
        <th>Volume</th>
        <th>Rate</th>
        <th />
        
      </tr>
    </thead>
    <tbody>
      <%#= render :partial => 'totals', :locals => {:budget => @budget } %>

      <% if @plans %>
        <% @plans.each do |plan| %>
          <tr class="three-row">
            <td rowspan="1"><%= plan.code %></td>
            <td rowspan="1"><%= plan.name %></td>
            <td rowspan="1"><%= plan.descr %></td>
            <td rowspan="1"><%= render :partial => "service", :locals => { :plan => plan } %></td>
            <td rowspan="1"><%= plan.start_date %></td>
            <td rowspan="1"><%= plan.end_date %></td>
            <td>Plan</td>
            <td class="number_field"><%= currency_zero(plan.budget_expense) %></td>
            <td class="number_field"><%= float_zero(plan.budget_volume ||= 0) %></td>
            <td class="number_field"><%= currency_two(plan.budget_volume ? plan.budget_expense / plan.budget_volume : 0) %>
            <td><%= link_to "Edit", edit_plan_path(plan) %></td>
            
          </tr>
          <tr class="three-row">
            <td /><td /><td /><td /><td /><td />
            <td><%= link_to "Programs", plan_programs_path(plan) %></td>
            <td class="number_field"><%= currency_zero(plan.program_expense) %></td>
            <td class="number_field"><%= float_zero(plan.program_volume) %></td>
            <td class="number_field"><%= currency_two(plan.program_expense / plan.program_volume) %></td>
            <td colspan="3"></td>
          </tr>
          <tr class="bottom-row three-row">
            <td /><td /><td /><td /><td /><td />
            <td>Deals</td>
            <td class="number_field"><%= currency_zero(plan.deal_volume * plan.deal_rate) %></td>
            <td class="number_field"><%= float_zero(plan.deal_volume) %></td>
            <td class="number_field"><%= currency_two(plan.deal_rate) %></td>
            <td colspan="3"></td>
          </tr>
        <% end %>
      <% end %>

      <tr>
        <%= render :partial => 'new', :locals => {:budget_id => @budget ? @budget.id : nil } %>
      </tr>
    </tbody>
  </table>

<script>
  $(document).ready(function() {
    $('#plans-index').dataTable({
      "sScrollY": "600px",
      "bPaginate": false
    });
  } );

</script>