<p class="trail"><%= @account.name %> Plans</p>

  <table>
    <thead>
      <tr class="grd_css_25">
        <th colspan="100%" class="title">Plans</th>
      </tr>
      <tr>
        <th />
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th><%= current_account.service == 'supplier' ? 'Seller' : 'Supplier' %></th>
        <th>Start</th>
        <th>End</th>
        <th>Budgeted<br />Cost</th>
        <th>Planned<br />Cost</th>
        <th></th>
      </tr>
    </thead>
    <% if @plans %>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= link_to "Programs", plan_programs_path(plan) %></td>
          <td><%= plan.code %></td>
          <td><%= plan.name %></td>
          <td><%= plan.descr %></td>
          <td><%= render :partial => "service", :locals => { :plan => plan } %></td>
          <td><%= plan.start_date %></td>
          <td><%= plan.end_date %></td>
          <td class="number_field"><%= currency_zero(plan.budget_expense) %></td>
          <td class="number_field"><%= currency_zero(plan.plan_expense) %></td>
          <td><%= link_to "Edit", edit_plan_path(plan) %></td>
        </tr>
      <% end %>
    <% end %>
      
    <tr>
      <%= render 'new' %>
    </tr>
    
  </table>
