<h4><%= @account.name %> Plans</h4>

  <table>
    <tr>
      <th />
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>End</th>
      <th>Budget</th>
    </tr>
    <% if @plans %>
      <% @plans.each do |plan| %>
        <tr>
          <td><%= link_to "Programs", plan_programs_path(plan) %></td>
          <td><%= plan.code %></td>
          <td><%= plan.name %></td>
          <td><%= plan.descr %></td>
          <td><%= plan.start_date %></td>
          <td><%= plan.end_date %></td>
          <td><%= plan.budget %></td>
        </tr>
      <% end %>
    <% end %>
      
    <tr>
      <%= render 'new' %>
    </tr>
    
  </table>
