<h3>Left Column</h3>
<ul>
	<li><%= link_to "Dashboard", user_path %></li>
        <li><%= link_to "Plans", plans_path %></li>
	<li><%= link_to "Activities", activities_path %></li>
	<li><%= link_to "Categories", categories_path %></li>
	<li><%= link_to "Products", products_path %></li>	
	<li><%= link_to "Partners", partnerships_path %></li>
	<li><%= link_to "Accounts", accounts_path %></li>
	<li><%= link_to "Profile", profile_path(current_user.profile) %></li>
	<% if can? :update, User %>
		<li><%= link_to "Users", users_path %></li>
	<% end %>
</ul>