<!DOCTYPE html>
<html>
  
  <head>
    <title><%= title %></title>
      <%= csrf_meta_tag %>
      <%= render 'layouts/stylesheets' %>
      <%= javascript_include_tag :defaults %>
      <%= javascript_include_tag 'jquery.min'%>
      <%= javascript_include_tag 'jquery-ui.min'%>
      <%= javascript_include_tag 'jquery_ujs'%>
      <%= javascript_include_tag 'application'%>
    
  </head>
  
  <% if @zone == "Sign in" or @zone == nil then %>
    <body>			
      <div class="container_950">
        <%= render 'layouts/home_header' %>
        <%= yield %>
      </div>
    </body>
  <% end %>
  
  
  <% if @zone == "Application" then %>
    <body>		
      <div class="container">
        <%= render 'layouts/header' %>
        <div id="column_box">
          
          
          
          <section class="left_column">	
            <%= render 'layouts/left_column' %>	
            <% flash.each do |key, value| %>
              <div class="flash <%= key %>"> <%= value %></div>
            <% end %>
          </section>
          
          <section class="right_column">					
            <%= yield %>
          </section>
          
          
          
          
        </div>
          <%= render 'layouts/footer' %>
          <%= debug(params) if Rails.env.development? %>
      </div>

    </body>
  <% end %>
  
</html>
