<h2>Edit Account</h2>

<%= form_for(@account) do |f| %>
	<div class="field">
		<%= f.label :name, "Name", :class => "field_label" %><br />
		<%= f.text_field :name %><br />
		<%= f.label :domain, "Domain", :class => "field_label" %><br />
		<%= f.text_field :domain %><br />
		<%= f.label :account_group, "Account group", :class => "field_label" %><br />
		<%= f.text_field :account_group %><br />
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>