<h2>Edit Account</h2>

<%= form_for(@account) do |f| %>
	<div class="field">
		<%= f.label :name, "Name", :class => "field_label" %><br />
		<%= f.text_field :name %><br />
		<%= f.label :domain, "Domain", :class => "field_label" %><br />
		<%= f.text_field :domain %><br />
		<%= f.label :group_id, "Group", :class => "field_label" %><br />
		<%= collection_select(:account, :group_id, Group.all, :id, :name, :prompt => false) %><br />
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>