<h2>Accounts</h2>

<table>
	<tr>
		<td>Domain Name</td>
		<td>Account Name</td>
		<td>Account Service</td>
	</tr>
	<% @accounts.each do |account| %>
		<tr>
			<td><%= link_to account.domain, account %></td>
			<td><%= link_to account.name, account %></td>
			<td><%= link_to account.service.name, account %></td>
			<td>
				<% if can? :update, @account %>
					<%= link_to "Edit", edit_account_path(account) %>
				<% end %>	
			</td>
				
			<td>
				<% if can? :destroy, @account %>
					<%= link_to "Delete", account, :method => :delete, :confirm => "Please confirm deletion:",
																			:title => "Delete #{account.name}" %>
				<% end %>
																			
			</td>
		</tr>
	<% end %>
	<%= form_for(@account) do |f| %>
		<tr>
			<td><%= f.text_field :domain %></td>
			<td><%= f.text_field :name %></td>
			<td><%= collection_select(:account, :service_id, Service.all, :id, :name, :prompt => true) %><br /></td>
			<td><%= f.submit "Submit" %></td>
			<td></td>
		</tr>
	<% end %>
</table>
